<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demoapp.opsc7312task2">
    <!-- permission for user's location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OPSC7312Task2.NoActionBar">
        <activity android:name=".Search"></activity>
        <activity android:name=".MapboxLive" />
        <activity android:name=".DownloadedMaps" />
        <activity android:name=".Settings" />
        <activity android:name=".Favorites" />
        <activity android:name=".Landmarks" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".Mapmain" />
        <activity android:name=".Login" />
        <activity android:name=".SignUp" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>